<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.commodity.mapper.CommentPicMapper">

    <resultMap id="BaseResultMap" type="com.shoppingmall.commodity.domain.po.CommentPic">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="commentId" column="comment_id" jdbcType="INTEGER"/>
            <result property="pic" column="pic" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comment_id,pic
    </sql>
</mapper>
