<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.commodity.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.shoppingmall.commodity.domain.po.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="commodityId" column="commodity_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="sendTime" column="send_time" jdbcType="DATE"/>
            <result property="likeNum" column="like_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,commodity_id,user_id,
        description,send_time,like_num
    </sql>
</mapper>
