<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.wxuser.mapper.WxUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.shoppingmall.wxuser.domain.po.WxUserRole">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="wxuserId" column="wxuser_id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,wxuser_id,role_id
    </sql>
</mapper>
